@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
	max-width: 800px;
	margin: 0 auto;
}

.alert:not(:empty){
	max-width: 400px;
	margin: 20px auto;
	padding: 7px 10px;
	border: #913D88 solid 2px;

	background: #BE90D4;
	color: #fff;
}
