.collapsible-icons{
  position: relative;
  overflow: hidden;
}

.icons-container{
  position: relative;
}


.collapsible-icons div.select-mask,
.collapsible-icons input{
  display: block;
  position: absolute;
  cursor: pointer;
  
  /*sizing*/
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.collapsible-icons input{
  opacity: 0;
  z-index: 3;
}

.collapsible-icons div.select-mask{
  text-align: center;
  z-index: 2;
 
  /*style-ops*/
  border: 1px solid #333;
  background: #D64541;
  font-size: 30px;
  line-height: 45px;
}

.collapsible-icons ul.icon-boxes {
  position: absolute;
  padding: 0;
  list-style: none;
  font-size: 0;
  width: 100%;
  z-index: 1;
  

}

.collapsible-icons ul.icon-boxes > * {
  font-size: medium;
  /*sizing*/
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;

  /*style-ops*/
  background: #03A678;
  color: #fff;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  
}


/*HORIZONTAL*/
/*-----------*/

.collapsible-icons.horizontal{
  width: 250px;
  height: 50px;
}

.collapsible-icons.horizontal ul.icon-boxes > * {
  display: inline-block;
}

.collapsible-icons.horizontal div.select-mask,
.collapsible-icons.horizontal input {
  /*Transition Value*/
  left: 0%;
}

.collapsible-icons.horizontal ul.icon-boxes {
  /*Transition Value*/
  left: -80%;
}


  /*HORIZONTAL TRANSITION*/
  .collapsible-icons.horizontal div.select-mask,
  .collapsible-icons.horizontal input:checked,
  ul.icon-boxes{
    transition: left .3s;
  }

  .collapsible-icons.horizontal input:checked ~ div.select-mask,
  .collapsible-icons.horizontal input:checked {
    left: 80%;
  }

  .collapsible-icons.horizontal input:checked ~ ul.icon-boxes {
    left: 0%;
  }


/*VERTICAL*/
/*-----------*/





/* - Configuration  - */

*{
  box-sizing: border-box;
}

#container{
  max-width: 920px;
  margin: 0 auto;
  font-family: Helvetica;
}

h1{
  font-weight: 400;
}

